.centralizar{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* centrar verticalmente */
}
.box-matriz {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fila-matriz {
    display: flex;
}
.celda {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #fff;
}
.vacia {
    background-color: #fff;
}
.serpiente {
    background-color: green;
}
.manzana {
    background-color: red;
}